@model Crudtest.DTO.ProductDTO
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Create" method="post">
    <div class="form-group">       
        @Html.EditorFor(m => m.ProductName, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Product Name", @required = "true", @maxlength = "128" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Price", @maxlength = "128" } })
    </div>    
     
    <input type="submit" value="Submit" class="btn btn-default" />      
</form>