<div class="container">
    <table>
        <thead>
            <th>
            </th>
            <th class="hand" (click)="Sort('productId');">
                Product ID
            </th>
            <th class="hand" (click)="Sort('productName');">
                Product Name
            </th>
            <th class="hand" (click)="Sort('productPrice');">
                Product Price
            </th>
            <th class="hand" (click)="Sort('productUnits');">
                Product Units
            </th>
        </thead>
        <tbody>
            <template ngFor let-p [ngForOf]="products" [ngForTrackBy]="assetTrackBy" >
            <tr >
                <td id="{{ p.productId  }}"  (click)="GetChildTable(p.productId)">
                   <img class="hand" src='./src/plus.png' alt="Expand" width="20" height="20"> 
                </td>
                <td>
                    {{p.productId}}
                </td>
                <td>
                    {{p.productName}}
                </td>
                <td>
                    {{p.productPrice}}
                </td>
                <td>
                    {{p.productUnits}}
                </td>
            </tr>
            <tr id="{{'promotion' + p.productId}}"  style="display:none;" [ngClass]="{show : childTableDispaly== true}">
                <td colspan="5">
                    <table>
                        <thead>
                            <th>
                            </th>
                            <th>
                                Promotion ID 
                            </th>
                            <th>
                                Promotion Name
                            </th>
                            <th>
                                Promotion Budget
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let promotion of p.promotions; let j=index">
                                <td>
                                </td>
                                <td>
                                    {{promotion?.promotionId}}
                                </td>
                                <td>
                                    {{promotion?.promotionName}}
                                </td>
                                <td>
                                    {{promotion?.promotionBudget}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </template>
        </tbody>
    </table>

<div style="display:inline-block;">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>                
</div>    
</div>