<div class="login">
    <div class="login-container">
        <form (submit)="onSubmit()" novalidate>
            <custom-input [name]="'password'" #password="ngModel" [(ngModel)]="model.password" [type]="'password'" [placeholder]="'Password'"
                [page]="'login'" [validator]="validator.isPasswordValid(password)"></custom-input>
            <custom-input [name]="'confirmPassword'" #confirmPassword="ngModel" [(ngModel)]="model.confirmPassword" [type]="'password'"
                [placeholder]="'Confirm Password'" [page]="'login'" [validator]="validator.isConfirmPasswordValid(confirmPassword)"></custom-input>
            <app-button name="submit" [capture]="'Login'" [styles]="'blue full-width'"></app-button>
        </form>
    </div>
</div>
