
<form (submit)="onSubmitForm()" *ngIf="model">
    <div class="form-group">
        <label for="firstName">Caption:</label>
        <input [(ngModel)]="model.caption" name="caption" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="publishedDate">Publish date:</label>
        <input [ngModel]="model.publishedDate| date:'yyyy-MM-dd'" (ngModelChange)="model.publishedDate = $event" name="publishedDate" type="date" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="writers">Writers:</label>
        <app-autocomplete (writersIdsChanged)="getIds($event)" [Ids] = "model.writerIds" [items]="model.writerModel"></app-autocomplete>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>